:root{
  --primary-color: #ff5100;
  --primary-color-darker: #d14200;
  --primary-color-translucent: #ff51008a;
  --primary-text-color: #ffffff;

  --secondary-color: #ffd4c1;
  --secondary-color-darker: #e2bcac;
  --secondary-text-color: black;

  --t1-color: #bebebe;
  --main-bg: #262626;

  --item-spacing: 10px;

  background-color: var(--main-bg);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:var(--main-bg)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button.help {
  position: absolute;
  top: 70px;
  right: 50px;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: .9rem;
}

/* Nav Bar */
.navbar-dark .navbar-brand {
  color: var(--primary-color)
}

/* Headings */
h1, h2, h3, h4 {
  color: var(--primary-color);
}

/* Pages */

.page {
  margin-bottom: 50px;
}

hr {
  color:var(--t1-color);
  background-color:var(--t1-color);
  height:3px;
  margin-bottom: 0px;
  margin-top: var(--item-spacing);
  border-radius: 2px;
}

input.form-control {
  margin-top: var(--item-spacing);
}

div.page {
  background:var(--main-bg);
}

div.page p {
  color: var(--primary-text-color);
  margin-left: 10%;
  margin-right: 10%;
}

#page-description {
  text-align: center;
  color: var(--t1-color);
}

#page-header {
  text-align: center;
}

/* Text Page  */
div.page.text {
  text-align: center;
}

/* Data Page */
div#data-requestor {
  width: 70%;
  margin: auto;
}

div#num-results-slider {
  display: block;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: var(--primary-text-color);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  margin:auto;
  margin-top: var(--item-spacing);
}

.react-datepicker-wrapper {
  width: 100%;
}

.btn {
  width:100%;
  padding-left: 15px;
  padding-right: 15px;
  margin:auto;
  margin-top: var(--item-spacing);
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.btn:hover {
  background: var(--primary-color-darker);
  border-color: var(--primary-color-darker);
}

.btn:focus {
  background: var(--primary-color-darker);
  border-color: var(--primary-color-darker);
  box-shadow: 0 0 0 0.2rem var(--primary-color-translucent);
}

.btn.large-font {
  font-size: large;
}

.btn.btn-secondary {
  background: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--secondary-text-color);
}

.btn.btn-secondary:hover {
  background: var(--secondary-color-darker);
  border-color: var(--secondary-color-darker);
}

.inputR {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 5px;
  opacity: 1;
  outline: none;
  margin: 0 auto;
}

.form-control {
  background-color: var(--primary-text-color);
}

.form-control-range {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: lightgray;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;  
}

.form-control-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background:var(--primary-color);
  appearance: none;
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 50%;  
  opacity: 1;
}

.form-control-range:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.form-control-range::-moz-range-thumb {
  background:var(--primary-color);
  appearance: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  border-radius: 50%; 
}

div.progress {
  margin-top: var(--item-spacing);
}

